{"is_source_file": true, "file_id": 10, "git_revision": "31c4a76bce8d03860b8e134531741e866930589c", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "602ca25193be738db68b3a0136e767be", "format-version": 4, "code-base-name": "game_backend", "filename": "game_backend/requirements.txt", "knowledge_revision": 21}