{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 10, "knowledge_revision": 22, "git_revision": "c8a5c6a1d7f3d0ba77d1360130dc78496dc18d5e", "hash": "602ca25193be738db68b3a0136e767be", "format-version": 4, "code-base-name": "game_backend", "filename": "game_backend/requirements.txt", "revision_history": [{"22": "c8a5c6a1d7f3d0ba77d1360130dc78496dc18d5e"}]}