{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 12, "knowledge_revision": 27, "git_revision": "b2d1d99920f5fdc48ef63a4347fd03762db062ff", "hash": "d2d5dff07ad5a6d511d19f35654b46df", "format-version": 4, "code-base-name": "game_backend", "filename": "game_backend/requirements.txt", "revision_history": [{"27": "b2d1d99920f5fdc48ef63a4347fd03762db062ff"}]}